<div class="fields">
    <div class="row">
        <div class="col s9">
            <%= f.fields_for :options do |option_form| %>
                <%= render 'option_fields', f: option_form %>
            <% end %>
            <%= link_to_add_fields "Añadir opción", f, :options %>
        </div>
        <div class="input-field col s3">
            <%= f.label :max_score, 'Puntaje' %>
            <%= f.number_field :max_score, class: :text_field, step: :any %>
        </div>
    </div>
</div>