<h4 style="text-align:center">Editar <%= resource_name.to_s.humanize %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, type: "text", class: "validate" %>
  </div>

  <div class="input-field">
    <%= f.label :lastname, 'Apellidos' %>
    <%= f.text_field :lastname, type: "text", class: "validate" %>
  </div>

  <div class="input-field">
    <%= f.label :ci, 'CI' %>
    <%= f.text_field :ci, type: "text", class: "validate" %>
  </div>

  <div class="input-field">
    <%= f.label :phone, 'Celular' %>
    <%= f.text_field :phone, type: "text", class: "validate" %>
  </div>

  <div class="input-field">
    <%= f.label :career, 'Carrera', class: 'active' %>
    <%= form.select :career, ['Ing. Sistemas', 'Ing. Ambiental', 'Ing. Civil', 'Ing. Mecatronica'] %>
  </div>

  <div class="input-field">
    <%= f.label :email, 'Correo electrónico' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-field">
    <%= f.label :password, 'Nueva contraseña - (dejar en blanco si no desea cambiarlo)' %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation, 'Repetir contraseña' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="input-field">
    <%= f.label :current_password, 'Contraseña actual - (ingrese su contraseña para guardar los cambios)' %>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= button_tag(class: 'btn-small waves-effect waves-light') do %>
      Editar
    <% end %>
  </div>
<% end %>

<p>No está conforme?</p> <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Está seguro?" }, method: :delete, class: 'btn-small deep-orange lighten-1' %>

<%= link_to "Back", :back, class: 'btn-flat grey lighten-2' %>