<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue darken-2">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
        <%= link_to event_paper_comments_path(@event, @paper, :format => :pdf), class: "btn-floating grey", target: "_blank" do %>
            <i class="material-icons">file_download</i>
        <% end %>
    </li>
    <li>
        <%= link_to new_event_paper_review_path(@event, @paper), class: "btn-floating grey" do %>
            <i class="material-icons">add_box</i>
        <% end %>
    </li>
  </ul>
</div>

<div class="row flex">
    <div class="col s12 center-align green lighten-3"><strong>Comentario <%= comment_counter+1 %></strong></div>
    <div class="col s2 green lighten-5"><strong>Miembro tribunal:</strong></div>
    <div class="col s10 green lighten-5"><%= comment.user.name %> <%= comment.user.lastname %></div>
    <div class="col s2 green lighten-5"><strong>Comentario:</strong></div>
    <div class="col s10 green lighten-5"><%= simple_format(comment.commentary) %></div>
    <div class="col s2 green lighten-5"><strong>Fecha:</strong></div>
    <div class="col s10 green lighten-5"><%= comment.created_at.strftime("%b %d, %H:%M") %></div>
</div>