<h3 class="center-align">Eventos</h3>

<table>
  <thead class="header-row">
    <tr>
      <th>Nombre</th>
      <th>Semestre</th>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_papers_path(event), class: 'link-to-text' %></td>
        <td><%= event.semester %></td>
        <td><%= event.year %></td>
        <!--td><%= link_to 'Mostrar', event %></td>
        <td><%= link_to 'Editar', edit_event_path(event) %></td>
        <td><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
