<h3 class="center-align">Eventos</h3>

<table>
  <thead class="header-row">
    <tr>
      <th>Nombre</th>
      <th>Carrera</th>
      <th>Semestre</th>
      <th>Año</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.estudiante? %>
      <% @events_by_career.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_papers_path(event), class: 'link-to-text' %></td>
          <td><%= event.career %></td>
          <td><%= event.semester %></td>
          <td><%= event.year %></td>
        </tr>
      <% end %>
    <% else %>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_papers_path(event), class: 'link-to-text' %></td>
          <td><%= event.career %></td>
          <td><%= event.semester %></td>
          <td><%= event.year %></td>
          <% if current_user.admin? %>
            <td><%= link_to edit_event_path(event), class: 'waves-effect btn-floating btn-small grey' do %>
              <i class="material-icons">edit</i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
