<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card brown lighten-5">
      <div class="card-content">
        <%= form_for([@event, @paper]) do |form| %>
          <% if @paper.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

              <ul>
              <% paper.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="input-field">
              <%= form.label :title, 'Título', class: "active" %>
              <%= form.text_field :title, type: "text", class: "validate" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= form.label :google_docs_link, 'Link archivo Google Docs *' %>
              <%= form.text_field :google_docs_link, class: 'validate' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= form.label :resume, 'Resumen', class: "active" %>
              <%= form.text_area :resume, :class => 'materialize-textarea' %>
            </div>
          </div>

          <div class="file-field input-field">
            <div class="btn blue lighten-2">
              <span><i class="material-icons">picture_as_pdf</i></span>
              <%= form.file_field :pdf_file, {accept: "application/pdf" } %>
            </div>
            <div class="file-path-wrapper">
              <%= text_field_tag nil, (form.object.pdf_file.filename), {id: nil, class: 'file-path validate'} %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= form.label :general_purpose, 'Objetivo general', class: "active" %>
              <%= form.text_area :general_purpose, :class => 'materialize-textarea' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= form.label :specific_purpose, 'Objetivos específicos', class: "active" %>
              <%= form.text_area :specific_purpose, class: "materialize-textarea" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= form.label :problem_definition, 'Definición del problema', class: "active" %>
              <%= form.text_area :problem_definition, class: "materialize-textarea" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= form.label :tag_list, 'Palabras clave', class: "active" %>
              <%= form.text_field :tag_list, placeholder: "Separar con una coma...", 
                    type: "text", class: "validate", :value => @paper.tag_list.join(', ') %>
            </div>
          </div>

          <%= form.hidden_field :user_id, value: current_user.id %>

          <button class="btn-small waves-effect waves-light" type="submit" name="action">
            <%= form.submit "Editar", class: "white-text" %>
            <i class="material-icons right">send</i>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
