<h3 align="center">Documentos</h3><br>

<table>
  <thead class="header-row">
    <tr>
      <th>No.</th>
      <th>Título</th>
      <th>Estudiante</th>
      <th>Carrera</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each_with_index do |paper, index| %>
        <% if paper.assingment.present? %>
            <% if current_user.id == paper.assingment.tutor_id %>
                <tr>
                  <td><%= index %></td>
                  <td class="title-assigned"><%= link_to paper.title, event_paper_path(paper.event_id, paper), class: 'link-to-text' %></td>
                  <td><%= paper.user.name %> <%= paper.user.lastname %></td>
                  <td><%= paper.user.career %></td>
                  <td>
                    <%= link_to event_paper_comments_path(paper.event_id, paper), class: "waves-effect btn-floating btn-small grey" do %>
                        <i class="material-icons">search</i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to new_event_paper_review_path(paper.event_id, paper), class: "waves-effect btn-floating btn-small grey" do %>
                        <i class="material-icons">add_box</i>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          <% end %>
      <% end %>
  </tbody>
</table><br>

