<table class="striped paper-show">
  <tr class="paper-title">
    <td colspan="2"><strong>Documento <%= @paper.id %></strong></td>
  </tr>
  <tr>
    <th><strong>Título:</strong></th>
    <td><%= @paper.title %></td>
  </tr>
  <tr>
    <th><strong>Autor:</strong></th>
    <td><%= @paper.user.name %> <%= @paper.user.lastname %></td>
  </tr>
  <tr>
    <th><strong>Documento:</strong></th>
    <td>
      <%= link_to rails_blob_path(@paper.pdf_file, disposition: "attachment"), 
        class: "btn-flat pdf-sm" do %>
         <i class="material-icons">picture_as_pdf</i>
       <%end%>
    </td>
  </tr>
  <tr>
    <th><strong>Resumen:</strong></th>
    <td><%= @paper.resume %></td>
  </tr>
  <tr>
    <th><strong>Objetivo general:</strong></th>
    <td><%= @paper.general_purpose %></td>
  </tr>
  <tr>
    <th><strong>Objetivos específicos:</strong></th>
    <td><%= @paper.specific_purpose %></td>
  </tr>
  <tr>
    <th><strong>Definición del problema:</strong></th>
    <td><%= @paper.problem_definition %></td>
  </tr>
  <tr>
    <th><strong>Palabras clave:</strong></th>
    <td><%= @paper.tag_list %></td>
  </tr>
  <tr>
    <th><strong>Presentado:</strong></th>
    <td><%= @paper.created_at.strftime("%b %d, %H:%M") %></td>
  </tr>
  <tr>
    <th><strong>Última actualización:</strong></th>
    <td><%= @paper.updated_at.strftime("%b %d, %H:%M") %></td>
  </tr>
</table>

<br><br>
<h4>Tribunal</h4>

<% if @assingment.present? %>
  <table class="striped">
    <tr>
      <th width="25%">Director:</th>
      <td><%= User.find(@assingment.director_id).name %></td>
    </tr>
    <tr>
      <th>Tutor:</th>
      <td><%= User.find(@assingment.tutor_id).name %></td>
    </tr>
    <tr>
      <th>Relator:</th>
      <td><%= User.find(@assingment.relator_id).name %></td>
    </tr>
  </table>
<% end %>