<table class="striped paper-show">
  <tr class="paper-title">
    <td colspan="2"><strong>Documento <%= @paper.id %></strong></td>
  </tr>
  <tr>
    <th><strong>Título:</strong></th>
    <td><%= @paper.title %></td>
  </tr>
  <tr>
    <th><strong>Autor:</strong></th>
    <td><%= @paper.user.name %> <%= @paper.user.lastname %></td>
  </tr>
  <tr>
    <th><strong>Link Google Docs:</strong></th>
    <td><%= @paper.google_docs_link %></td>
  </tr>
  <tr>
    <th><strong>Documento:</strong></th>
    <td>
      <%= link_to rails_blob_path(@paper.pdf_file, disposition: "attachment"), 
        class: "btn-flat pdf-sm" do %>
         <i class="material-icons">picture_as_pdf</i>
       <%end%>
    </td>
  </tr>
  <tr>
    <th><strong>Introducción:</strong></th>
    <td><%= simple_format(@paper.resume) %></td>
  </tr>
  <tr>
    <th><strong>Objetivo general:</strong></th>
    <td><%= simple_format(@paper.general_purpose) %></td>
  </tr>
  <tr>
    <th><strong>Objetivos específicos:</strong></th>
    <td><%= simple_format(@paper.specific_purpose) %></td>
  </tr>
  <tr>
    <th><strong>Formulación del problema:</strong></th>
    <td><%= simple_format(@paper.problem_definition) %></td>
  </tr>
  <tr>
    <th><strong>Palabras clave:</strong></th>
    <td><%= @paper.tag_list %></td>
  </tr>
  <tr>
    <th><strong>Presentado:</strong></th>
    <td><%= @paper.created_at.strftime("%b %d, %H:%M") %></td>
  </tr>
  <tr>
    <th><strong>Última actualización:</strong></th>
    <td><%= @paper.updated_at.strftime("%b %d, %H:%M") %></td>
  </tr>
</table>

<br><br>

<% if @assingment.present? %>
  <table class="striped assign-table">
    <thead class="header-row">
      <tr class="paper-title trib">
        <th colspan="4">Tribunal</th>
      </tr>
      <tr>
        <th>Rol del miembro</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo electrónico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Director</td>
        <td><%= User.find(@assingment.director_id).name %></td>
        <td><%= User.find(@assingment.director_id).lastname %></td>
        <td><%= User.find(@assingment.director_id).email %></td>
      </tr>
      <tr>
        <td>Tutor</td>
        <td><%= User.find(@assingment.tutor_id).name %></td>
        <td><%= User.find(@assingment.tutor_id).lastname %></td>
        <td><%= User.find(@assingment.tutor_id).email %></td>
      </tr>
      <tr>
        <td>Relator</td>
        <td><%= User.find(@assingment.relator_id).name %></td>
        <td><%= User.find(@assingment.relator_id).lastname %></td>
        <td><%= User.find(@assingment.relator_id).email %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<br><br>