<div class="question_fields">
    <div class="card-panel brown lighten-5 z-depth-1">
        <div class="row">
            <div class="input-field col s9">
                <%= f.label :description, "Pregunta" %>
                <%= f.text_field :description, type: "text", class: "validate" %>
                <%= f.hidden_field :_destroy %>
                <%= link_to_remove_association 'Quitar', f, { wrapper_class: 'question_fields' } %>
            </div>
            <div class="input-field col s3 question_type">
                <%= f.label :type, "Tipo de respuesta", class: "active" %>
                <%= f.select :type, question_options_for_select(f) %>
            </div>
        </div>
        <%= render fields_of_question(f.object.type), f: f %>
    </div>
</div>
