<%= @survey.name %>

<ol class="questions">
    <% @survey.questions.each do |question| %>
        <li>
            <%= question.title %>
            <ol>
                <% question.answers.each do |answer| %>
                    <% case question.answer_type %>
                    <% when "Escala" %>
                        <label>
                            <%= radio_button_tag(:answer_content, "a") %>
                            </span><%= answer.answer_content %><span>
                        </label>
                    <% when "Texto" %>
                        <div class="input-field">
                            <%= text_area_tag(:answer_content) %>
                        </div>
                    <% end %>
                <% end %>
            </ol>
        </li>
    <% end %>
</ol>