<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card c-form">
            <div class="card-content">
                <div>
                    <% @review.errors.full_messages.each do |message| %>
                        <%= message %>
                    <%end%>
                </div>
                <span class="card-title"><%= @survey.name %></span>
                <%= form_for([@event, @paper, @review]) do |review_form| %>

                    <%= review_form.hidden_field :user_id, value: current_user.id %>
                    <%= review_form.hidden_field :survey_id, value: @survey.id %>
                    <%= review_form.hidden_field :paper_id, value: @paper.id %>

                    <% @survey.questions.each do |question| %>
                        <% evaluation = @review.build_evaluation(question) %>
                        <%= review_form.fields_for :evaluations, evaluation do |evaluation_form| %>
                            <%= evaluation_form.hidden_field :question_id, value: question.id %>
                            <h5><%= question.description %> (*)</h5>
                            <% if question.type == 'Questions::SelectOption' %>
                                <div class="input-field col s12">
                                    <% question.options.each do |option|%>
                                        <p><label>
                                            <% selected_option_value = evaluation_form.object.score %>
                                            <%= evaluation_form.radio_button :score, option.value, checked: option.value == selected_option_value %>
                                            <span><%= option.show %></span>
                                        </label></p>
                                    <% end %>
                                </div>
                            <% elsif question.type == 'Questions::Text' %>
                                <span><%= question.title %></span><br>
                                <div class="input-field col s12">
                                    <trix-editor input="general_text"></trix-editor>
                                </div>
                                <p>o</p>
                                <div class="input-field col s12">
                                    <%= evaluation_form.label :description, 'Escriba la evaulación de la pregunta acá' %>
                                    <%= evaluation_form.text_area :description, class: 'materialize-textarea' %>
                                </div>
                            <% end %>
                        <% end %>
                        <div class="center-align"> * * * </div>
                    <% end %>
                    <br>
                    <div class="center-align">
                        <%= review_form.button class: "btn-small waves-effect waves-light" do %>
                            Realizar revisión
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>