<h5>Resumen de revisiones y comentarios</h5>
<table class="striped summary">
    <thead>
        <tr class="summary-header">
            <th></th>
            <th>Fecha</th>
            <th>Revisor</th>
            <th>Nota final</th>
            <th class="vertical"><div>Antecedentes</div></th>
            <th class="vertical"><div>Definición del problema</div></th>
            <th class="vertical"><div>Definición del objetivo general</div></th>
            <th class="vertical"><div>Definición de los objetivos esp.</div></th>
            <th class="vertical"><div>Confidencia del revisor</div></th>
            <th class="vertical"><div>Evaluación general</div></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @paper.reviews.each_with_index do |review, index| %>
            <tr class="<%= review.is_edited? ? 'review_edited' : 'reviews' %>">
                <td>
                    <% if (review.is_new==true && review.is_edited==false) || (review.is_new==true && review.is_edited==true) %>
                        <strong>Revisión <%= review.id %></strong>
                    <% elsif (review.is_new==false && review.is_edited==false) %>
                        <strong>Revisión <%= review.copy_id %></strong>
                    <% end %>
                </td>
                <td><%= review.created_at.strftime("%b %d") %></td>
                <td><%= review.user.name %> <%= review.user.lastname %></td>
                <td><%= review.get_total() %></td>
                <td><%= review.get_relevance() %></td>
                <td><%= review.get_problem_def() %></td>
                <td><%= review.get_general_def() %></td>
                <td><%= review.get_specific_def() %></td>
                <td><%= review.get_confidence() %></td>
                <td><%= review.get_general_evaluation() %></td>
                <td width="4%">
                    <% if review.is_edited==false && review.is_new==true && review.user_id==current_user.id %>
                        <%= link_to edit_event_paper_review_path(@event,@paper,review), class: "btn-flat edit-sm" do %>
                            <i class="material-icons">edit</i>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
        <% @paper.comments.each_with_index do |comment, index| %>
            <tr class="comments">
                <td>Comentario <%= index+1 %></td>
                <td><%= comment.created_at.strftime("%b %d") %></td>
                <td><%= comment.user.name %> <%= comment.user.lastname %></td>
                <td colspan="8"></td>
            </tr>
        <% end %>    
    </tbody>
</table>