<h5 style="display:inline-block; margin-left: 18%;">Editar Revisión</h5>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card c-form">
            <div class="card-content">
                <%= form_for([@event,@paper, @review]) do |form| %>
                    <div>
                        <strong>Antecedentes (*)</strong><br><br>
                        <label><%= form.radio_button :relevance, "5 (excelente)", class: 'with-gap' %><span>5: excelente</span></label><br>
                        <label><%= form.radio_button :relevance, "4 (bueno)", class: 'with-gap' %><span>4: bueno</span></label><br>
                        <label><%= form.radio_button :relevance, "3 (justo)", class: 'with-gap' %><span>3: justo</span></label><br>
                        <label><%= form.radio_button :relevance, "2 (pobre)", class: 'with-gap' %><span>2: pobre</span></label><br>
                        <label><%= form.radio_button :relevance, "1 (muy pobre)", class: 'with-gap' %><span>1: muy pobre</span></label>
                    </div><br>
                    <div class="divider"></div><br>
                    <div>
                        <strong>Definición del problema (*)</strong><br><br>
                        <label><%= form.radio_button :problem_def, "5 (excelente)", class: 'with-gap' %><span>5: excelente</span></label><br>
                        <label><%= form.radio_button :problem_def, "4 (bueno)", class: 'with-gap' %><span>4: bueno</span></label><br>
                        <label><%= form.radio_button :problem_def, "3 (justo)", class: 'with-gap' %><span>3: justo</span></label><br>
                        <label><%= form.radio_button :problem_def, "2 (pobre)", class: 'with-gap' %><span>2: pobre</span></label><br>
                        <label><%= form.radio_button :problem_def, "1 (muy pobre)", class: 'with-gap' %><span>1: muy pobre</span></label>
                    </div><br>
                    <div class="divider"></div><br>
                    <div>
                        <strong>Definición del objetivo general (*)</strong><br><br>
                        <label><%= form.radio_button :general_def, "5 (excelente)", class: 'with-gap' %><span>5: excelente</span></label><br>
                        <label><%= form.radio_button :general_def, "4 (bueno)", class: 'with-gap' %><span>4: bueno</span></label><br>
                        <label><%= form.radio_button :general_def, "3 (justo)", class: 'with-gap' %><span>3: justo</span></label><br>
                        <label><%= form.radio_button :general_def, "2 (pobre)", class: 'with-gap' %><span>2: pobre</span></label><br>
                        <label><%= form.radio_button :general_def, "1 (muy pobre)", class: 'with-gap' %><span>1: muy pobre</span></label>
                    </div><br>
                    <div class="divider"></div><br>
                    <div>
                        <strong>Definición de los objetivos específicos (*)</strong><br><br>
                        <label><%= form.radio_button :specific_def, "5 (excelente)", class: 'with-gap' %><span>5: excelente</span></label><br>
                        <label><%= form.radio_button :specific_def, "4 (bueno)", class: 'with-gap' %><span>4: bueno</span></label><br>
                        <label><%= form.radio_button :specific_def, "3 (justo)", class: 'with-gap' %><span>3: justo</span></label><br>
                        <label><%= form.radio_button :specific_def, "2 (pobre)", class: 'with-gap' %><span>2: pobre</span></label><br>
                        <label><%= form.radio_button :specific_def, "1 (muy pobre)", class: 'with-gap' %><span>1: muy pobre</span></label>
                    </div><br>
                    <div class="divider"></div><br>
                    <div>
                        <strong>Confidencia del revisor (*)</strong> <span> - Indique cuánto conoce sobre el tema a revisar</span><br><br>
                        <label><%= form.radio_button :confidence, "5 (experto)", class: 'with-gap' %><span>5: experto</span></label><br>
                        <label><%= form.radio_button :confidence, "4 (alto)", class: 'with-gap' %><span>4: alto</span></label><br>
                        <label><%= form.radio_button :confidence, "3 (medio)", class: 'with-gap' %><span>3: medio</span></label><br>
                        <label><%= form.radio_button :confidence, "2 (bajo)", class: 'with-gap' %><span>2: bajo</span></label><br>
                        <label><%= form.radio_button :confidence, "1 (ninguno)", class: 'with-gap' %><span>1: ninguno</span></label>
                    </div><br>
                    <div class="divider"></div><br>
                    <strong>Evaluación general (*)</strong><br><br>
                    <div>
                        <label><%= form.radio_button :general_evaluation, "5 (excelente)", class: 'with-gap' %><span>5: excelente</span></label><br>
                        <label><%= form.radio_button :general_evaluation, "4 (bueno)", class: 'with-gap' %><span>4: bueno</span></label><br>
                        <label><%= form.radio_button :general_evaluation, "3 (justo)", class: 'with-gap' %><span>3: justo</span></label><br>
                        <label><%= form.radio_button :general_evaluation, "2 (pobre)", class: 'with-gap' %><span>2: pobre</span></label><br>
                        <label><%= form.radio_button :general_evaluation, "1 (muy pobre)", class: 'with-gap' %><span>1: muy pobre</span></label>
                    </div><br>

                    <strong>Comentarios generales (*)</strong><br><br>
                    <div class="input-field">
                        <%= form.label :general_evaluation_text, 'Escriba su evaluación general aquí' %>
                        <%= form.text_area :general_evaluation_text, class: 'materialize-textarea' %>
                    </div><br>
                    <div class="divider"></div><br>
                    <strong>Mensaje confidencial al profesor de la materia</strong><br><br>
                    <div class="input-field">
                        <%= form.label :personal_message, 'Escriba su mensaje personal aquí' %>
                        <%= form.text_area :personal_message, class: 'materialize-textarea' %>
                    </div><br>

                    <%= form.hidden_field :user_id, value: current_user.id %>
                    <%= form.hidden_field :copy_id, value: @review.id %>
                    <%= form.hidden_field :is_new, value: false %>

                    <div class="center-align">
                        <%= button_tag(class: "btn-small waves-effect waves-light") do %>
                            Editar revisión
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>