<!DOCTYPE html>
<html>
  <head>
    <title>Doc Reviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% unless flash.empty? %>
     <script type="text/javascript">
        <% flash.each do |f| %>
	        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	  toastr['<%= type %>']('<%= f[1] %>');
	      <% end %>
     </script>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
